<div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col col-md-4">
          <div class="element">
            <h4 class="card-title">Andamento orario {{currentTimeFormatted}}</h4>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">PM10</h4>
                <google-chart [data]="dayChartPM10" *ngIf="dayChartPM10"></google-chart>
              </div>
            </div>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">PM2.5</h4>
                <google-chart [data]="dayChartPM25" *ngIf="dayChartPM25"></google-chart>
              </div>
            </div>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">SO2</h4>
                <google-chart [data]="dayChartSO2" *ngIf="dayChartSO2"></google-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-8">
            <aol-map [width]="'100%'" [height]="'450'">
                <aol-interaction-default></aol-interaction-default>
                <aol-control-defaults></aol-control-defaults>
                <aol-view [zoom]="10">
                    <aol-coordinate [x]="11.123251" [y]="46.044685" [srid]="'EPSG:4326'"></aol-coordinate>
                </aol-view>
                <aol-layer-tile>
                    <aol-source-osm></aol-source-osm>
                </aol-layer-tile>
                <aol-overlay *ngFor="let station of stations">
                    <aol-coordinate
                        [x]="station.X"
                        [y]="station.Y"
                        [srid]="'EPSG:4326'"
                    >
                    </aol-coordinate>
                    <aol-content>
                        <div (click)="stationSelected(station)" [class]="'station '+(station.id == currentStation? 'selected ':'')+ (stationData[station.id]? stationData[station.id].style: '')" >
                          <div *ngIf="stationData[station.id] && station.id == currentStation" >
                            <b>PM10</b>:  {{stationData[station.id].PM10 | number}} <br/> 
                            <b>PM2.5</b>: {{stationData[station.id]['PM2.5'] | number}}<br/>
                            <b>NO2</b>: {{stationData[station.id].NO2 | number}}<br/>
                            <b>SO2</b>: {{stationData[station.id].SO2 | number}}<br/>
                            <b>O3</b>: {{stationData[station.id].O3 | number}}
                          </div>
                        </div>
                    </aol-content>
                </aol-overlay>
            </aol-map>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                  <b>Ultima Settimana</b>
                  <google-chart [data]="weekChart"></google-chart>
              </div>
            </div>
          </div>          
        </div>
        <div class="col col-md-8">
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <b>Ultimo Mese</b>
                <google-chart [data]="monthChart"></google-chart>
              </div>
            </div>
          </div>              
        </div>
      </div>    
    </div>
    <div class="col col-md-2">
      <span class="fa player" [class.fa-play-circle]="!playing" [class.fa-pause-circle]="playing" (click)="playPause()"></span>
      <nouislider [min]="0" [max]="maxVal" [(ngModel)]="currentSliderVal" [config]="config" (change)="onChange($event)"></nouislider>
    </div>
  </div>
</div>  