<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"><img src="assets/img/tscw.jpeg"></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav nav nav-fill m-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/aria" routerLinkActive="active">Qualità dell'aria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trips" routerLinkActive="active">Viaggi Play&Go</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/participation" routerLinkActive="active">Parteciplazione Play&Go</a>
      </li>
    </ul>
  </div>
</nav>