<div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col col-md-4">
          <div class="element">
            <h4 class="card-title">Andamento orario {{currentTimeFormatted}}</h4>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">REGISTRATI</h4>
                <google-chart [data]="dayChartRegistrati" *ngIf="dayChartRegistrati"></google-chart>
              </div>
            </div>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">ATTIVI</h4>
                <google-chart [data]="dayChartAttivi" *ngIf="dayChartAttivi"></google-chart>
              </div>
            </div>
          </div>
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">AZIONI</h4>
                <google-chart [data]="dayChartAzioni" *ngIf="dayChartAzioni"></google-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-8 map-container">
            <aol-map [width]="'100%'" [height]="'100%'">
                <aol-interaction-default></aol-interaction-default>
                <aol-control-defaults></aol-control-defaults>
                <aol-view [zoom]="10">
                    <aol-coordinate [x]="11.123251" [y]="45.944685" [srid]="'EPSG:4326'"></aol-coordinate>
                </aol-view>
                <aol-layer-tile>
                    <aol-source-osm></aol-source-osm>
                </aol-layer-tile>
                <aol-overlay *ngFor="let city of cities">
                    <aol-coordinate
                        [x]="city.X"
                        [y]="city.Y"
                        [srid]="'EPSG:4326'"
                    >
                    </aol-coordinate>
                    <aol-content>
                        <div (click)="citySelected(city)" [class]="'station '+(city.name == currentCity? 'selected ':'')+ (dayAggData[city.name]? dayAggData[city.name].style : 'level1')" >
                          <div *ngIf="dayAggData[city.name] && city.name == currentCity">
                            <span *ngIf="dayAggData[city.name].Registrati"><b>REG.</b>: {{dayAggData[city.name].Registrati | number}}<br/></span>
                            <span *ngIf="dayAggData[city.name].Attivi"><b>ATTIVI</b>: {{dayAggData[city.name].Attivi | number}}<br/></span>
                            <span *ngIf="dayAggData[city.name].Azioni"><b>AZIONI</b>: {{dayAggData[city.name].Azioni | number}}</span>
                          </div>
                        </div>
                    </aol-content>
                </aol-overlay>
            </aol-map>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                  <b>Ultima Settimana</b>
                  <google-chart [data]="weekChart"></google-chart>
              </div>
            </div>
          </div>          
        </div>
        <div class="col col-md-8">
          <div class="element">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <b>Ultimo Mese</b>
                <google-chart [data]="monthChart"></google-chart>
              </div>
            </div>
          </div>              
        </div>
      </div>    
    </div>
    <div class="col col-md-2">
      <span class="fa player" [class.fa-play-circle]="!playing" [class.fa-pause-circle]="playing" (click)="playPause()"></span>
      <nouislider [min]="0" [max]="maxVal" [(ngModel)]="currentSliderVal" [config]="config" (change)="onChange($event)"></nouislider>
    </div>
  </div>
</div>  